/* Open Sans 400 */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('shared/assets/fonts/OpenSans/400/OpenSans400.woff') format('woff');
}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-cyrillic.woff2') format('woff2');
//    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-cyrillic-ext.woff2') format('woff2');
//    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-greek.woff2') format('woff2');
//    unicode-range: U+0370-03FF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-greek-ext.woff2') format('woff2');
//    unicode-range: U+1F00-1FFF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-hebrew.woff2') format('woff2');
//    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-latin.woff2') format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-latin-ext.woff2') format('woff2');
//    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400/OpenSans400-vietnamese.woff2') format('woff2');
//    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
//}


/* Open Sans 400i */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i.woff') format('woff');
}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-cyrillic.woff2') format('woff2');
//    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-cyrillic-ext.woff2') format('woff2');
//    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-greek.woff2') format('woff2');
//    unicode-range: U+0370-03FF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-greek-ext.woff2') format('woff2');
//    unicode-range: U+1F00-1FFF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-hebrew.woff2') format('woff2');
//    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-latin.woff2') format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-latin-ext.woff2') format('woff2');
//    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 400;
//    src: url('shared/assets/fonts/OpenSans/400i/OpenSans400i-vietnamese.woff2') format('woff2');
//    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
//}


/* Open Sans 700 */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('shared/assets/fonts/OpenSans/700/OpenSans700.woff') format('woff');
}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-cyrillic.woff2') format('woff2');
//    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-cyrillic-ext.woff2') format('woff2');
//    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-greek.woff2') format('woff2');
//    unicode-range: U+0370-03FF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-greek-ext.woff2') format('woff2');
//    unicode-range: U+1F00-1FFF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-hebrew.woff2') format('woff2');
//    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-latin.woff2') format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-latin-ext.woff2') format('woff2');
//    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: normal;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700/OpenSans700-vietnamese.woff2') format('woff2');
//    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
//}


/* Open Sans 700i */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i.woff') format('woff');
}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-cyrillic.woff2') format('woff2');
//    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-cyrillic-ext.woff2') format('woff2');
//    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-greek.woff2') format('woff2');
//    unicode-range: U+0370-03FF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-greek-ext.woff2') format('woff2');
//    unicode-range: U+1F00-1FFF;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-hebrew.woff2') format('woff2');
//    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-latin.woff2') format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}
//
//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-latin-ext.woff2') format('woff2');
//    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
//}

//@font-face {
//    font-display: swap;
//    font-family: 'Open Sans';
//    font-style: italic;
//    font-weight: 700;
//    src: url('shared/assets/fonts/OpenSans/700i/OpenSans700i-vietnamese.woff2') format('woff2');
//    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
//}

