@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

html {
    font-size: var(--font-size);
    font-family: "Open Sans", sans-serif;
}

.app {
    background-color: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: var(--vspace);
}
