.ArticleDetails {
    min-height: 100%;

    p {
        margin: 0;
    }
}


img {
    max-width: 100%;
}

.skeleton {
    margin-top: var(--vspace-3);
}

.articleInfo {
    opacity: 0.6;

    .icon {
        margin-right: 0.612em;
        margin-bottom: 0.15em;
    }

    p {
        margin: 0;
    }
}
