.ArticleDetails {
    min-height: 100%;

    p {
        margin: 0;
    }
}

.image {
    margin: 0 0 var(--vspace-1);

    img {
        max-width: 100%;
    }
}

.title {
    margin: var(--vspace-3) 0;
}

.skeleton {
    margin-top: var(--vspace-3);
}

.articleInfo {
    display: flex;
    align-items: center;
    opacity: 0.6;

    .icon {
        margin-right: 0.612em;
        margin-bottom: 0.15em;
    }

    p {
        margin: 0;
    }
}

.articleBody {
    margin-top: var(--vspace-3);
}

.block {
    margin-top: var(--vspace-1);
}
