.link {
    width: 100%;
}

.LIST {
    width: 100%;

    .card {
        width: 100%;
        max-height: 200px;
        padding: 0;
        cursor: pointer;
        display: flex;
        gap: var(--vspace-1);
        align-items: center;

        &:hover {
            opacity: 0.8;
        }
    }

    .image,
    .imageWrapper {
        height: 200px;
        width: 300px;
        min-width: 300px;
        border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
    }

    .detailsWrapper {
        height: 200px;
        padding-top: var(--vspace-1);
    }

    .infoWrapper {
        opacity: 0.5;
    }

    .title {
        line-height: 1;
    }

    .username {
        margin-left: 4px;
        margin-right: 1em;
    }

    .date {
        margin-right: 1em;
    }

    .types {
        margin-right: 1em;
        white-space: nowrap;
    }

    .viewsWrapper {
        margin-right: 1em;
    }

    .views {
        margin-left: 8px;
    }
}

.GRID {
    display: inline-flex;
    gap: var(--vspace-2);

    .card {
        padding: 0;
        cursor: pointer;
        width: 300px;

        &:hover {
            opacity: 0.8;
        }
    }

    .image,
    .imageWrapper {
        height: 200px;
        width: 300px;
        border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;
    }

    .detailsWrapper {
        padding: 0 var(--vspace-1);
    }

    .infoWrapper {
        opacity: 0.5;
    }

    .types {
        white-space: nowrap;
    }

    .views {
        margin-left: 8px;
    }
}

.icon {
    width: 0.75em;
    height: 0.75em;
    margin-bottom: 0.125em;
    fill: var(--primary-color);
}
