.primary {
    color: inherit;
}

.error {
    color: var(--color-text-red);
}

.success {
    color: var(--color-text-green);
}

.warning {
    color: var(--color-text-yellow);
}

.info {
    color: var(--color-text-blue);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.s {
    .title {
        font: var(--font-m-redesigned);
    }

    .text {
        font: var(--font-s-redesigned);
    }
}

.m {
    .title {
        font: var(--font-l-redesigned);
    }

    .text {
        font: var(--font-m-redesigned);
    }
}

.l {
    .title {
        font: var(--font-xl-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}
