.CommentCard {
    padding: var(--vspace-1);
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
    border-radius: var(--input-border-radius);
}

.title {
    color: var(--secondary-color);
}

.CommentCardRedesigned {
    .title {
        color: var(--text-redesigned);
    }
}
