.CommentCard {
    padding: var(--vspace-3);
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
    border-radius: var(--input-border-radius);
}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: var(--vspace-3);
}

.text {
    margin-top: var(--vspace-3);
}
