@import "reset";
@import "./themes/light";
@import "./themes/dark";
@import "./variables/global";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: var(--vspace);
}

h1, h2, h3, h4, h5, h6 {
}
