.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: flex-end;
}

.links {
    height: 100%;
    margin-right: var(--vspace);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
    gap: var(--vspace-1);
    text-decoration: none;

    button {
        margin: 0;
        align-self: center;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--secondary-color);
        }
    }
}

.link {
    color: var(--secondary-color);
}

.actions {
    cursor: pointer;
}

.NavbarRedesigned {
    padding: 16px;
    background: none;

    .links,
    .links a {
        color: var(--text-redesigned);
    }

    .link {
        color: var(--text-redesigned);
    }
}
