.starIcon {
    margin-right: 2px;
    cursor: pointer;
    fill: none;
    stroke: var(--accent-color);
}

.normal {
    fill: none;
}

.hovered {
    fill: var(--accent-color);
}

.selected {
    cursor: auto;
}

.small {
    width: 12px;
}

.medium {
    width: 16px;
}

.large {
    width: 24px;
}

.starIconRedesigned {
    margin-right: 2px;
    cursor: pointer;
    stroke: var(--icon-redesigned);

    &.normal {
        fill: none;
    }

    &.hovered {
        fill: var(--icon-redesigned)
    }
}
