.LIST {
    padding-bottom: var(--vspace);
    display: flex;
    flex-wrap: wrap;
    gap: var(--vspace-2);
}

.GRID {
    max-width: 100%;
    .card {
        display: inline-flex;
        gap: 10px;
        height: 360px;
    }
}
