.LIST {
    padding-bottom: var(--vspace);
    display: flex;
    flex-wrap: wrap;
    gap: var(--vspace-2);
}

.GRID {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--vspace-2);
    align-items: flex-start;
}
