.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    svg {
        width: var(--font-line-m);
        min-width: var(--font-line-m);
        height: var(--font-line-m);
    }
}

.switchers {
    bottom: var(--vspace-3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: var(--vspace-2) 0 0;
}

.items {
    margin-top: var(--vspace-2);
    margin-left: var(--vspace-2);
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
        margin-left: 0;
    }

    .switchers,
    .items {
        transition: width 2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            padding: 0;
            margin: var(--vspace) 0 0 0;
            align-self: center;
        }
    }
}
