.panel {
    position: absolute;
    z-index: 10000;
    border-radius: var(--input-border-radius);
    background-color: var(--dark-bg-redesigned);
    display: flex;
    flex-direction: column;
    padding: var(--vspace-1);
}
