.app.light {
    --bg-color: var(--color-background-white);
    --inverted-bg-color: var(--color-background-gray-20);
    --primary-color: var(--color-text-gray-80);
    --secondary-color: var(--color-text-gray-60);
}
