.item {
    margin-top: var(--vspace);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link {
    margin-left: var(--vspace-3);
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    fill: var(--secondary-color);
    height: var(--vspace);
    transition: none;
    min-width: 1em;
}

.collapsed {
    .link {
        display: none;
    }
}
