.item {
    text-decoration: none;
}

.link {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    fill: var(--secondary-color);
    height: var(--vspace);
    transition: none;
    min-width: 1em;
}

.collapsed {
    .link {
        display: none;
    }
}
