.ProfileCard {
    padding: var(--vspace-3) var(--vspace-2);
    margin-top: var(--vspace-3);
    border: 2px solid var(--primary-color);
}

.data {
    margin-top: var(--vspace-3);
}

.input {
    margin-top: var(--vspace-3);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.avatar {
    margin: var(--vspace) auto;
}
