.ProfileCard {
    padding: var(--vspace-3) var(--vspace-2);
    margin-top: var(--vspace-3);
    border: 2px solid var(--primary-color);
}

.loading {
    height: 300px;
}

.avatar {
    margin: 0 auto;
}
