.ProfileCard {
    padding: var(--vspace-3);
    border: 2px solid var(--primary-color);
}

.header {
    display: flex;

    p {
        margin: 0;
    }
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: var(--vspace);
}

.input {
    margin-top: var(--vspace-3);
}
