.InputWrapper {
    font: var(--font-m);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

.label {
    font: var(--font-s);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

input {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    padding: var(--input-padding);
    color: var(--primary-color);
    background: var(--bg-color);

    &:focus {
        border: var(--input-border);
        background: var(--bg-color-focus);
        box-shadow: var(--input-default-selected-shadow);
    }

    &::placeholder {
        color: var(--primary-color);
        opacity: var(--input-placeholder-opacity);
    }

    &:disabled {
        background: var(--bg-color);
        color: var(--primary-color);
    }
}
