.ProfilePageHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.editBtns {
    margin-left: auto;
    display: flex;
    gap: 1em;
}
