.Code {
    border-radius: 0.612em;
    background: var(--inverted-bg-color);
    padding: var(--vspace-3) 1.62em;
    overflow: auto;
    position: relative;
    color: var(--secondary-color);
}

.copyButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--vspace-3);

    svg {
        fill: var(--secondary-color);
    }
}
