.Code {
    border-radius: 0.612em;
    background: var(--inverted-bg-color);
    padding: var(--vspace-1) 1.62em;
    overflow: auto;
    position: relative;
    color: var(--secondary-color);
}

.copyButton {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    margin: 0;

    svg {
        fill: var(--secondary-color);
    }
}
