.svg {
    height: 24px;
    width: 24px;
    fill: var(--secondary-color);
}

.pointer {
    cursor: pointer;
}

.standard {
    cursor: default;
}

.ArticleViewSelectorRedesigned {
    .svg {
        height: 24px;
        width: 24px;
        fill: var(--icon-redesigned);
    }

    .notSelected {
        fill: var(--light-bg-redesigned);
    }
}
