.Page {
    flex-grow: 1;
    padding: var(--vspace-2);
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}

.PageRedesigned {
    overflow-y: auto;
}

.trigger {
    height: 20px;
    margin: 20px;
}
