.app_blue_theme {
    --bg-color: #f4f8fb;
    --inverted-bg-color: #039be5;
    --primary-color: #039be5;
    --secondary-color: #f4f8fb;
    --accent-color: #03ba8c;
    --accent-text-color: var(--bg-color);

    // skeleton
    --skeleton-color: var(--color-ui-white);
}
