.app_blue_theme {
    --bg-color: #F4F8FB;
    --inverted-bg-color: #039be5;
    --primary-color: #039be5;
    --secondary-color: #F4F8FB;
    --accent-color: #03BA8C;
    --accent-text-color: var(--bg-color);
}
