.app_dark_theme {
    --bg-color: var(--color-ui-gray-80);
    --inverted-bg-color: var(--color-ui-gray-85);
    --primary-color: var(--color-text-white);
    --secondary-color: var(--color-text-white);
    --accent-color: var(--color-text-yellow);
    --accent-text-color: var(--bg-color);
}
