.app_dark_theme {
    --bg-color: var(--color-ui-gray-80);
    --inverted-bg-color: var(--color-ui-gray-85);
    --primary-color: var(--color-text-white);
    --secondary-color: var(--color-text-white);
    --accent-color: var(--color-text-yellow);
    --accent-text-color: var(--bg-color);

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;

    // skeleton
    --skeleton-color: var(--color-ui-gray-60);
}
