.app_light_theme {
    --bg-color: var(--color-background-white);
    --inverted-bg-color: var(--color-background-gray-20);
    --primary-color: var(--color-text-gray-80);
    --secondary-color: var(--color-text-gray-80);
    --accent-color: var(--color-text-yellow);
    --accent-text-color: var(--primary-color);

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-color: rgb(0 0 0 / 5%);
}
