.app_light_theme {
    --bg-color: var(--color-background-white);
    --inverted-bg-color: var(--color-background-gray-20);
    --primary-color: var(--color-text-gray-80);
    --secondary-color: var(--color-text-gray-80);
    --accent-color: var(--color-text-yellow);
    --accent-text-color: var(--primary-color);

    // redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // skeleton
    --skeleton-color: rgb(0 0 0 / 5%);
}
