.app_yellow_theme {
    --bg-color: #f4f8fb;
    --inverted-bg-color: #039be5;
    --primary-color: #039be5;
    --secondary-color: #f4f8fb;
    --accent-color: #03ba8c;
    --accent-text-color: var(--bg-color);

    // redesigned
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // skeleton
    --skeleton-color: var(--color-ui-white);
}
